/*インポート*/
@import "variable.scss"; //変数Sass
@import "text.scss"; //テキスト・フォントのSass
@import "component.scss"; //コンポネントのSass
@import "layout.scss"; //レイアウトのSass


/*bootstrapの導入*/
// 1. 最初に関数を組み込む（カラー、SVG、計算などが操作できるように）
@import "scss/_functions";

// 3. 必須のBootstrapスタイルシートを組み込む
@import "scss/variables";

// 5. 残りの必須のBootstrapスタイルシートを組み込む
@import "scss/maps";
@import "scss/mixins";
@import "scss/root";

/*
構成
- 共通スタイル
- メディアクエリ（スマhファースト）
    - スマホ
    - タブレット
    - PC
*/
//共通スタイル
html {
    font-size: 16px;
    @include paragraph();
}

body {
    width: 100%;
}

a {
    text-decoration: none;
    color: colors(text1);

    :visited {
        color: colors(text1);
    }
}

.container {
    background-color: colors(devide);

    .header {
        .header_title {
            @include header_title(3rem);
        }

        @include hamburger(5px);

        .header_nav {
            //レイアウト
            //テキスト
            @include header_nav(1rem);
        }
    }

    .main {
        .section {
            .section_title {
                @include headline_h3;
            }

            .section_content {}
        }
    }

    .footer {
        .copywrite {}
    }
}

//スマホファーストの順序
//スマホ
@include mq(sp) {
    html {
        font-size: 16px;
    }

    body {
        width: 100%;
    }

    a {
        text-decoration: none;
    }

    .container {
        .header {

            .header_title {}

            .header_nav {}
        }

        .main {
            .section {
                .section_title {}

                .section_content {}
            }
        }

        .footer {
            .copywrite {}
        }
    }
}
//タブレット
@include mq(tab) {
    html {
        font-size: 16px;
    }

    body {
        width: 100%;
    }

    a {
        text-decoration: none;
    }

    .container {
        .header {
            .header_title {}

            .header_nav {}
        }

        .main {
            .section {
                .section_title {}

                .section_content {}
            }
        }

        .footer {
            .copywrite {}
        }
    }

}

//PC
@include mq(pc) {
    html {}

    body {
        width: 100%;
    }

    a {
        text-decoration: none;
    }

    .container {
        .header {
            /*レイアウト*/
            @include devide_parent();
            /*フォント*/
            @include header_title(2rem);

            .header_title {
                @include devide_child(40%);
            }

            .header_nav {
                @include devide_child(60%);
                position: relative;
                background-color: colors(base2);

                .header_nav_ul {
                    @include pc_header_nav_ul();
                }

            }
        }

        .main {
            .section {
                .section_title {}

                .section_content {}
            }
        }

        .footer {
            .copywrite {}
        }
    }

}